* {
    text-decoration: none;
}

li {
    list-style: none;
    border: 1px solid gray;
    background-color: black;
}

body {
    background-color: azure;
}

.h1 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 50px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderImage {
    width: 30%;
}

.ulElement {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.top {
    color: white;
}

.top::after {
    content: " ✓";
    color: white;
}

.top-email {
    color: gray;
}

.top-email::after {
    content: " ⇒";
    color: gray;
}

.title {
    color: gray;
}

.title::before {
    content: "!!! ";
    color: red;
}

.body {
    font-style: italic;
    color: white;
}

.footer {
    color: gray;
    padding-bottom: 30px;
}

.footer2 {
    color: gray;
    margin-left: 30px;
}

.footer::after {
    content: "⤵";
}

.footer2::after {
    content: " ⌨";
}
.footer3 {
    color: gray;
    margin-left: 30px;
    display: none;
}
.footer3::after {
    content: " ⌨";
}

.button {
    margin-left: 50px;
    cursor: pointer;
    background-color: cornflowerblue;
}

.modalWindow {
    display: none;
    padding-top: 5px;
    padding-left: 5px;
    position: fixed;
    background-color: #333333;
    width: 20vw;
    height: 20vh;
    top: 40%;
    left: 40%;
}

label {
    color: white;
    display: block;
}

.saveButton {
    cursor: pointer;
}

.loadMore {
    cursor: pointer;
    margin-left: 20px;
}